.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#noteMenu {
    border-radius: 0 25px 25px 0;
}

noteMenu::after {
    background-color: coral
}

.first {
    width: 49%;
}

.grow {
    transform-origin: center bottom;
}

.last {
    width: 49%;
    margin-left: -40%;
}

.drop {
    top: 41px
}

.App-link {
    color: #61dafb;
}

.style {
    box-sizing: initial;
    font-family: Roboto, sansserif;
    position: absolute;
    opacity: 1;
    top: 49px;
    left: 522.896 px,
}

.name {
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 18%; */
}

.cpassword {
    width: 49%;
    margin-left: -40%;
}

.fundoo {
    font-size: 25px;
    color: royalblue;
    text-align: center;
}

.headline {
    font-size: x-large;
}

.password {
    width: 49%;
}

.pass {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    margin-left: 11%;
}

#Reg_Button {
    background-color: royalblue;
}

#button {
    color: royalblue;
    font-size: inherit;
}

.username {
    display: flex;
    justify-content: center;
    margin-left: -16%;
    margin-right: -16%
}

.un {
    width: 620px;
    margin-left: -16%;
    margin-right: -16%;
}

.image {
    width: 58%;
    display: flex;
    margin-left: 25%;
    padding-top: 23%;
}

.textfield {
    width: 100%;
    margin-left: -9%;
}

.loginhead {
    color: royalblue;
    font-size: 181%;
    font-weight: 700;
    margin-left: 46%;
}

.Lcard {
    display: inherit;
    width: 52%;
    margin-left: 24%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.card {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 13%;
    height: 837px;
    margin-top: 3%;
}

.sign {
    color: black;
    font-size: xx-large
}

.forgot {
    color: #282c34;
    font-size: xx-large
}

.email {
    margin-right: -104%;
    width: 60%;
}

.MuiAppBar-colorPrimary {
    background-color: lightgrey;
    color: 'black',
}

.passworrd {
    margin-right: -104%;
    width: 60%;
}

.MuiDrawer-paper {
    top: 64px;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: none;
    z-index: 1200;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

.Muielement.style {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    position: fixed;
    z-index: 2100;
    opacity: 1;
    transform: scaleY(1);
    transform-origin: left top;
    max-height: 536px;
    overflow-y: auto;
    top: 0px;
    left: 522.896px;
}

.toolBar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: fixed;
}

.img {
    width: 4%;
}

.search {
    width: 10%;
    height: '100%';
    position: 'absolute';
    display: 'flex';
    align-content: flex-end;
    justify-content: center
}

.srch {
    width: 173%;
    background-color: white;
    margin-left: -74%;
    font-size: 19px;
    border-radius: 2%;
}

.searchIcon {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.iconAdjust {
    margin-left: 25%;
    display: inline;
    width: 22%;
}

.Notemainnn {
    display: flex;
    justify-content: space-between;
    width: 95%;
    line-height: 4;
}


/*             
            .Notemain {
                margin-left: 7%;
            }
             */

.noteinput {
    /* width: 10%; */
    height: 58px;
    font-size: .10px;
    font-weight: 400;
    line-height: 1.25rem;
    margin-left: -14%;
}

.Mainnotes {
    display: flex;
    justify-content: center;
    border-radius: "14px";
    /* line-height: 3; */
}

.notes {
    border-style: outset;
    width: 38%;
    display: inline-flex;
    /* justify-content: space-evenly */
}

.noteiinput {
    width: 228%;
    margin-left: 17%;
}

.editNote {
    margin-left: -12%;
}

.control {
    display: flex;
    justify-content: space-around
}

.saveNotes {
    background-color: lightgrey
}

.radio {
    color: #282c34
}

.getnote {
    /* border: 1px solid; */
    width: 81%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-left: 8%
}

.getNoteMain {
    display: flex
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.take-note-user-card-description {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(143, 143, 143);
    /* border-style: outset; */
    margin-top: 3%;
    margin-left: 12%;
    width: 79%;
    display: flex;
    width: 90%;
    line-height: 135%;
}

.take-note-user-card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(143, 143, 143);
    /* border-style: outset; */
    margin-top: 3%;
    margin-left: 12%;
    /* width: 79%; */
    display: flex;
    /* width: 41%; */
    line-height: 135%;
    width: 34%;
}

.button-11 {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 6%; */
}

.button-8 {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    width: 166%;
}

.card-desc:hover .button-11,
.button-11:hover {
    visibility: visible;
}

.card-desc:hover .button-8,
.button-8:hover {
    visibility: visible;
}

.allcards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.user-card-body-desc {
    margin-top: 5%;
    margin-left: 5%
}

.take-note-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    resize: both;
    width: 100%;
    margin-left: 20px;
}

.take-note {
    display: flex;
    justify-content: center;
    resize: both;
    width: 91%;
    margin-left: 20px;
    /* margin-right: 20px; */
}

.modal {
    display: flex;
    justify-content: center;
    border-radius: 3%;
    line-height: 4;
    border-style: outset;
    margin-top: -5%;
    width: 35%;
}

.modaldisplay {
    border-radius: 3%;
    margin-top: -5%;
    /* margin-left: 25%; */
    width: 100%;
}

.Modal_body {
    width: auto;
    text-align: center;
    overflow: hidden;
}

.FullNote {
    display: flex;
    justify-content: space-around;
    resize: both;
    width: 100%;
    margin-left: 20px;
}

.FullNoteTitle {
    display: flex;
    justify-content: center;
    resize: both;
    width: 100%;
    font-weight: 700;
    margin-left: 20px;
}

.colorPalleteCard {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    width: 124%;
}

#list-view {
    width: 900px;
    height: auto;
    margin-left: 10px
}

.rem {
    background-color: lightgray
}

.reminder_notes {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-left: 20%; */
    /* margin-top: 4%; */
}

.trash_notes {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.archive_notes {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* .chipRem {} */

.drawer {
    position: relative;
}

.dropdown {
    margin-left: 2%;
}

.view {
    margin-left: 2%;
}

.refresh {
    margin-left: 24%;
}

.userdataset {
    display: flex;
    justify-content: space-between;
    width: 77%;
}

.nameEmailProfile {
    display: grid;
    padding-left: 12px;
    padding-top: 10px;
}

#logoutButton {
    margin-left: 68%;
}

.firstLastName {
    font-size: x-large;
}

.choosefile {
    width: 37%;
}

.inputfile {
    width: 97;
    margin-left: 13;
}

.TrashedData {
    display: flex;
    justify-content: space-evenly
}

.dialogCollab {
    background-color: black
}

.collabUserData {
    display: flex;
}

.colabData {
    padding-left: 5%
}

.collabUser {
    display: flex;
    justify-content: center;
}

.MuiDialog-paperWidthSm {
    /* max-width: 600px; */
    width: 535px;
    height: 256px;
}


/* .colabName {
            padding-left: 5%
        } */

.MuiInput-root-364 {
    position: relative;
    width: 427px;
    padding-left: 20px;
}

.colabName {
    display: flex;
    justify-content: space-evenly;
}

.colabfirstName {
    margin-left: -7%;
}

.colablastName {
    margin-left: -10px;
}

.colabEmail {
    margin-left: 5px;
}

.MuiInput-root-560-364 {
    position: relative;
    width: 427px;
    padding-left: 20px,
}

.colabUserData {
    margin-left: 13%;
    width: 160%;
    overflow: hidden
}

.quill {
    height: 76%
}

.MuiDialog-paperWidthSm {
    width: 914px;
    height: 373px;
    border-radius: 19px;
    max-width: 931px;
}

.popupbuttonsGN {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.MuiAvatar-colorDefault-533 {
    color: darkslategray;
    margin-left: 494px;
    background-color: lightgrey
}

#transitionLeft {
    margin-left: 17%;
    transition: margin-left 0.25s;
}

#transitionRight {
    transition: 0.25s;
}

.quehead {
    display: flex;
    padding-left: 16px;
    font-size: 128%;
}

.FirstQueDiv {
    display: flex;
    justify-content: space-between;
}

.queTitleDesc {
    padding-left: 3%;
    font-size: 24px;
    /* display: flex; */
    text-align: -webkit-left;
}

.QuesDisplay {
    display: flex;
    padding-left: 30px;
}

.que {
    font-size: 139%;
    margin-right: 81%;
    color: gray;
}

.secondCard {
    /* width: 959px; */
    margin-left: 389px;
    /* padding-left: 2%; */
    padding-top: 33px;
}

.AllQue {
    margin-top: 5%;
}

.secondCardDiv {
    display: flex;
    border-top: groove;
    margin-top: 14px;
    padding-top: 3%;
    padding-bottom: 4%;
}

.mydataQue {
    margin-left: 16%;
    width: 122%;
    display: flex;
}

.ques {
    margin-left: 5%;
    font-size: 144%;
    /* padding-left: 0%; */
}

.lastfirstname {
    display: flex;
    justify-content: space-evenly;
}

b.lastname {
    margin-left: 4%;
}

alldata {
    width: 65%;
}

.dialogQue {
    display: flex;
    justify-content: space-between;
}

.question {
    color: grey;
    font-size: 23px;
    margin-left: 9px;
}

.titleQue {
    display: flex;
    margin-left: 23px;
}

.back_Arrow {
    margin-left: 13%;
    margin-right: 26%
}

.firstLabelDiv {
    display: flex;
    justify-content: space-between;
}

.textfINlabel {
    width: 200px;
    margin-left: 0%;
}

.chipLabel {
    width: auto;
}

.noteDisplay {
    display: flex;
    flex-wrap: wrap;
}

*/ .labelShow {
    margin-left: 17%;
}

.MenulabelShow {
    margin-left: 2%;
    display: flex;
    justify-content: space-evenly
}

.labelPosition {
    overflow: auto;
    max-height: 300px;
}

.labelDisp {
    padding-top: 24px;
}


/* .chipDisp {
    margin-left: 15px;
} */

.chip_adjust {
    display: flex;
    justify-content: flex-start;
    margin-left: 23px;
    flex-wrap: wrap;
}

.rem-Chip {
    margin-left: 7px;
}

.userList-collab {
    display: flex;
}

.likeDisp {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
}

span.likeprint {
    margin-left: 2%;
    font-size: 20px;
}


/*** Shopping Cart Css ***/

.serviceTitle {
    font-size: 217%;
    background-color: lightgrey;
    line-height: 247%;
    display: flex;
    justify-content: start;
    padding-left: 12%;
}

.ser_headline {
    font-size: 225%;
    padding-top: 4%;
}


/* .ser_card_inside {
    width: 27%;
    line-height: 19;
    border-radius: 2%;
    margin-left: 22%;
} */

.ser_card1 {
    padding: 10px 65px 19px 15px;
}

.ser_card2 {
    padding: 12px 8px 8px 12px;
}

.ser_cardDisplay {
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
}

.ser_signIn {
    color: blue;
    font-size: 122%;
    padding-top: 8%;
}

.ser_content {
    display: list-item;
    text-align: start;
}

.ser_sign {
    font-size: 214%;
}

.ser_contToFundoo {
    font-size: 179%;
    margin-top: 4%;
    margin-bottom: 3%;
}

.ser_Reg_Button {
    background-color: royalblue;
    width: 15%;
    height: 47px;
}

.ser_bt {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.ser_ButnInLogin {
    margin-right: 69%;
    color: blue;
    font-size: 118%;
}

.ser_create {
    margin-left: -7%;
    padding-top: 4%;
}

.titleName_fundoo {
    display: flex;
    justify-content: space-between;
}

.button_GTC {
    margin-right: -10%;
}

.loginheadd {
    font-size: 160%;
    font-weight: 700;
}

.ser_maindiv_in_serviceCard {
    width: 40%;
    /* display: table; */
}

.ser_card_div {
    /* flex-direction: row; */
    display: flex;
    justify-content: space-between;
    width: 79%;
    margin-left: 8%;
}

.ser_reg_display {
    width: 86%;
    margin-left: 4%;
    display: flex;
    justify-content: space-evenly;
}

.ser_cardDisplay {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    width: 44%;
    line-height: 33px;
}


/*RESPONSIVE_DESIGN*/

@media only screen and (max-width: 600px) {
    .getnote {
        /* border: 1px solid; */
        width: 62%;
        display: flex;
        justify-content: center;
        margin-top: -3%;
        /* margin-left: 17%; */
    }
    .iconAdjust {
        margin-left: 6%;
        width: 9%;
    }
    .appBar {
        width: 22%;
        padding-left: 28%;
    }
    .toolBar {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17px;
        position: fixed;
        margin-left: -19%;
    }
    .first-div-Create {
        width: 3%;
        line-height: 4;
    }
    .srch {
        width: 173%;
        background-color: white;
        margin-left: -50%;
        font-size: 19px;
        border-radius: 2%;
    }
    .refresh {
        margin-left: -1%;
    }
    .view {
        margin-left: -2%;
    }
    .dropdown {
        margin-left: -2%;
    }
    .img {
        width: 4%;
        margin-left: -2%;
    }
    .search {
        width: 44%;
        height: '100%';
        position: 'absolute';
        display: 'flex';
        align-content: flex-end;
        justify-content: center;
    }
    #list-view {
        width: 394px;
        height: auto;
        margin-left: 91px;
    }
    .reminder_notes {
        width: 38%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 20%;
        margin-top: -12%;
    }
    .trash_notes {
        width: 99%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .archive_notes {
        width: 99%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


/***********************************************Shopping Cart **************************************************/

.shoop_title {
    background-color: #fb0;
    margin-top: 100px;
    width: 17%;
    line-height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.stepper {
    margin-top: 100px;
    width: 49%;
    line-height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    flex-grow: 1;
    padding-left: 37px;
}

.titleInShopping {
    display: flex;
    /* justify-content: space-evenly; */
}

.shopping_cart {
    font-weight: bolder;
    font-size: 24px;
    margin-top: 71px;
    display: flex;
}

.main_div_shopping {
    margin-top: 2%;
    margin-left: 18%;
    width: 64%;
}

.shopping_details {
    background-color: grey;
    width: 118px;
    line-height: 30px;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 11px;
}

.Details_adjust_shopping {
    display: flex;
    justify-content: space-evenly
}

.shooping_proceede {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 254px;
    /* line-height: 31px; */
    border: 1px solid #a7a7a7;
    flex: 1 1 -10%;
    border-radius: 5px;
    height: 120px;
    justify-content: center;
}

.checkout {
    background-color: rgb(64, 161, 226);
    width: 212px;
    margin-left: 22px;
    border-radius: 2px;
    margin-top: 16px;
    /* height: 26px; */
    display: flex;
    justify-content: centre;
}

.shopping_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
}

.final_subtotal {
    display: flex;
    font-size: 22px;
    font-weight: 500;
    color: rgb(64, 161, 226);
}

.shopping_delivery {
    display: flex;
    flex-direction: row;
    justify-content: left
}

textarea.text_message {
    width: 331px;
    height: 171px;
}

.payment_status {
    margin-left: 190px;
}